@inherits LayoutComponentBase

<PageTitle>GuessTheNumber</PageTitle>

<div class="container">
    <menu>
        <Menu Items="@Items" DisableNavigation="false"/>
    </menu>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>
